
  <h2>About Movie Block</h2>
  <p>
    The Movie Block website is a delightful project created to explore Movie.
    By building a Movie Web, we can watch the recently released movie and enjoy the show 
  </p>
  <LinkTo @route="contact" class="button">Contact Us</LinkTo>
